body{
background-color: #f6fabc;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    margin-top: 2rem;
    width:500px;
}
.form-control{
    box-shadow: 2px 1px  1px rgb(141, 143, 143);
}

.fw-normal{
    text-align: center;
}

.card-title{
    text-align: center;
}

.container2{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    padding-top: 1rem;
    background-color: rgb(212, 229, 244);
    border-radius: 25px;
    box-shadow: 1px 1px  1px  rgb(5, 5, 5) ;
}