<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>home</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/script.ejs') %>
  </body>
</html>