<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>home</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <% if (locals.user) { %>
      
      <% } else { %>
       
        <% } %>
    <%- include('./partials/script.ejs') %>
  </body>
</html>